.grid {
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(28, 1fr);
  grid-template-columns: repeat(28, 1fr);
  width: 80rem;
  height: 80rem;
}

.cell {
  cursor: pointer;
  border: 0.01rem solid gray;
  background: white;
  transition: all 200ms linear;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar > h1 {
  margin: 1rem auto;
}

.navbar > button {
  margin: 0.5rem;
  width: 50%;
  text-align: center;
}

.cell:hover {
  transform: scale(1.1);
}
